.episode-list,
.character-list {
  display: grid;
  justify-content: center;
  padding: 0 20px;

  .list-item {
    max-width: 300px;
  }
}
.character-list {
  justify-items: center;
}

@media screen and (min-width: 480px) {
  .episode-list,
  .character-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }
}

@media screen and (min-width: 720px) {
  .episode-list,
  .character-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 1240px) {
  .episode-list,
  .character-list {
    grid-template-columns: 300px 300px 300px 300px;
    gap: 10px;
  }
}
